.editProfileContainer{
    background-color: rgb(226, 247, 255);
    padding: 4rem 4rem;
    height: fit-content;
    text-align: start;
}
.editFormContainer{
    background-color: white;
    border-radius: 1rem;
    width: 50vw;
    height: fit-content;
    margin: 2rem auto;
    padding: 4rem;
    border: solid 1px rgb(210, 210, 210);
}
.editForm{
    margin: 2rem 0;
}

.editForm input{
    margin: 1rem 1rem 2rem 0;
    width: 45%;
    display: inline-block;
}
.editForm:nth-of-type(2) input{
    display: block;
}

.editForm input[type="submit"]{
    padding: 0.5rem 1rem;
    background: #4CAF50;
}

.editTitle{
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: rgb(122, 184, 255);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.iconrow{
    margin-top: 2rem;
    display: flex;
    column-gap: 4rem;
}
.profileIcon{
    /* border: solid 1px grey; */
    border-radius: 0.25rem;
    /* padding: 1rem; */
    width: 10rem;
    aspect-ratio: 0.85;
}
.iconChoices{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    row-gap: 1rem;
    column-gap: 1.5rem;
}
.choice{
    background: none;
}

.choice img{
    /* border: solid 1px grey; */
    text-align: center;
    border-radius: 0.25rem;
    /* padding: 0.25rem 0; */
    width: 4rem;
    aspect-ratio: 0.85;
    cursor: pointer;
}

.notice{
    text-align: center;
}