*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
    /* background: rgb(97, 95, 95); */
    height: 6vh;
}
button{
    background: none;
}

.loginStatus{
    margin-right: 5rem;
}

li{
    color: black;
    list-style: none;
    transition: all .5s;
}

.link{
    margin: 1rem 1rem 0;
}

.link:hover{
    text-decoration: none;
}

.myNav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Josefin Sans';
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0.25rem 0.5rem 2rem;
    z-index: 99;
    background: white;
    width: 100%;
    box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.453);
}
.myNav *{
    text-decoration: none;
}

.navlinkHolder{
    /* background-color: red; */
    width: 25rem;
    font-size: large;
    margin-top: .5rem;
    /* font-weight: 500; */
}
.navbar-brand{
    font-size: 1.75rem;
    font-weight: 400;
}
.navLinks .link, .navbar-brand{
    color: rgb(96,61,163);
    position: relative;
    padding-bottom: 0.25rem;
    font-weight: bold;
}

.navLinks .link{
    font-size: 1.3rem;
}
.userIcon{
    /* min-width: 7.5rem; */
    display: flex;
    justify-content: space-evenly;
    margin: 0.25rem;
    
}
.userIcon li{
    margin-left: 0.25rem;
}
.userIcon img{
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.navLinks .link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2.5px;
    background-color: rgb(96,61,163);
    transition: width 0.3s;

}

.navLinks .link:hover::before{
    width: 100%;
}

.navReg{
    background-image: linear-gradient(to bottom right ,rgb(96,61,163), rgb(186, 158, 236) ) ;
    padding: 0.5rem 0.75rem;
    color: white;
    border-radius: 0.25rem;
}
.navReg li{
    color: white;
}
