*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    /* background: rgb(97, 95, 95); */
    height: 10vh;
}

li{
    color: black;
    list-style: none;
    transition: all .5s;
}
